#Data Preparation

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Data Analysis Project/I. RevoU Mini Task/Salinan dari Sales Data - New.csv")

In [16]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERDATE,STATUS,PRODUCTLINE,PRODUCTCODE,CUSTOMERNAME,CITY,DEALSIZE,TOTALSALES
0,10100,30,100.00,2003-01-06,Shipped,Vintage Cars,S18_1749,Online Diecast Creations Co.,Nashua,Medium,3000.00
1,10100,50,67.80,2003-01-06,Shipped,Vintage Cars,S18_2248,Online Diecast Creations Co.,Nashua,Medium,3390.00
2,10100,22,86.51,2003-01-06,Shipped,Vintage Cars,S18_4409,Online Diecast Creations Co.,Nashua,Small,1903.22
3,10100,49,34.47,2003-01-06,Shipped,Vintage Cars,S24_3969,Online Diecast Creations Co.,Nashua,Small,1689.03
4,10101,25,100.00,2003-01-09,Shipped,Vintage Cars,S18_2325,"Blauer See Auto, Co.",Frankfurt,Medium,2500.00

# Data Cleaning

In [6]:
print("\nData_Type_Column:")
print(df.dtypes)

Data_Type_Column:
ORDERNUMBER          int64
QUANTITYORDERED      int64
PRICEEACH          float64
ORDERDATE           object
STATUS              object
PRODUCTLINE         object
PRODUCTCODE         object
CUSTOMERNAME        object
CITY                object
DEALSIZE            object
dtype: object

In [7]:
#Convert Data Type Order Date from Object To Date Time
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

In [8]:
print("\nData_Type_Column:")
print(df.dtypes)

Data_Type_Column:
ORDERNUMBER                 int64
QUANTITYORDERED             int64
PRICEEACH                 float64
ORDERDATE          datetime64[ns]
STATUS                     object
PRODUCTLINE                object
PRODUCTCODE                object
CUSTOMERNAME               object
CITY                       object
DEALSIZE                   object
dtype: object

In [9]:
#Check Missing/Null Values per Column
missing_values = df.isnull().sum()
print("Number of missing/null values per column::")
print(missing_values)

Number of missing/null values per column::
ORDERNUMBER        0
QUANTITYORDERED    0
PRICEEACH          0
ORDERDATE          0
STATUS             0
PRODUCTLINE        0
PRODUCTCODE        0
CUSTOMERNAME       0
CITY               0
DEALSIZE           0
dtype: int64

In [10]:
#create a TOTALSALES column to represent the real transaction value per product/order.
df['TOTALSALES'] = df['QUANTITYORDERED'] * df['PRICEEACH']

In [11]:
print("\nData_Type_Column:")
print(df.dtypes)

Data_Type_Column:
ORDERNUMBER                 int64
QUANTITYORDERED             int64
PRICEEACH                 float64
ORDERDATE          datetime64[ns]
STATUS                     object
PRODUCTLINE                object
PRODUCTCODE                object
CUSTOMERNAME               object
CITY                       object
DEALSIZE                   object
TOTALSALES                float64
dtype: object

#Which product lines have the highest and lowest sales?

In [17]:
product_sales = df.groupby("PRODUCTLINE")["TOTALSALES"].sum().sort_values(ascending=False)

In [18]:
print(product_sales)

PRODUCTLINE
Classic Cars        2968546.40
Vintage Cars        1646013.29
Motorcycles          971086.29
Trucks and Buses     947355.18
Planes               877942.21
Ships                677940.40
Trains               203804.26
Name: TOTALSALES, dtype: float64

#Show Sales Performance Over Time

In [19]:
# Add Year-Month Column
df['YEAR_MONTH'] = df['ORDERDATE'].dt.to_period('M')

In [20]:
#Calculate total sales per month
monthly_sales = df.groupby('YEAR_MONTH')['TOTALSALES'].sum()

In [21]:
monthly_sales.index = monthly_sales.index.to_timestamp()

In [24]:
print(monthly_sales.reset_index())

   YEAR_MONTH  TOTALSALES
0  2003-01-01   107885.96
1  2003-02-01   120036.80
2  2003-03-01   145897.47
3  2003-04-01   169421.03
4  2003-05-01   163654.12
5  2003-06-01   139552.84
6  2003-07-01   149869.73
7  2003-08-01   166026.32
8  2003-09-01   211045.86
9  2003-10-01   466240.57
10 2003-11-01   850203.27
11 2003-12-01   210117.21
12 2004-01-01   268015.87
13 2004-02-01   258389.05
14 2004-03-01   166958.56
15 2004-04-01   172935.80
16 2004-05-01   220815.14
17 2004-06-01   245190.75
18 2004-07-01   271103.61
19 2004-08-01   386106.59
20 2004-09-01   263854.26
21 2004-10-01   452796.13
22 2004-11-01   894479.18
23 2004-12-01   313055.93
24 2005-01-01   283680.46
25 2005-02-01   289902.30
26 2005-03-01   315131.94
27 2005-04-01   217977.63
28 2005-05-01   372343.65

#How Does Deal Size (small, medium, large) correlate with total sales? what is the percentage of contribution for each type of deal?

In [25]:
# Total sales per deal size
deal_sales = df.groupby("DEALSIZE")["TOTALSALES"].sum().sort_values(ascending=False)

In [26]:
#Calculate the percentage contribution
deal_percentage = (deal_sales / deal_sales.sum()) * 100

In [27]:
print("Total Sales by Deal Size:\n", deal_sales)
print("\nPercentage Contribution:\n", deal_percentage.round(2))

Total Sales by Deal Size:
 DEALSIZE
Medium    4961736.68
Small     2592193.44
Large      738757.91
Name: TOTALSALES, dtype: float64

Percentage Contribution:
 DEALSIZE
Medium    59.83
Small     31.26
Large      8.91
Name: TOTALSALES, dtype: float64

#Convert dataframe to csv for visualizing in looker studio

In [30]:
df.to_csv("sales_cleaned.csv", index=False)

In [31]:
df2=pd.read_csv("sales_cleaned.csv")

In [32]:
df2.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERDATE,STATUS,PRODUCTLINE,PRODUCTCODE,CUSTOMERNAME,CITY,DEALSIZE,TOTALSALES,YEAR_MONTH
0,10100,30,100.00,2003-01-06,Shipped,Vintage Cars,S18_1749,Online Diecast Creations Co.,Nashua,Medium,3000.00,2003-01
1,10100,50,67.80,2003-01-06,Shipped,Vintage Cars,S18_2248,Online Diecast Creations Co.,Nashua,Medium,3390.00,2003-01
2,10100,22,86.51,2003-01-06,Shipped,Vintage Cars,S18_4409,Online Diecast Creations Co.,Nashua,Small,1903.22,2003-01
3,10100,49,34.47,2003-01-06,Shipped,Vintage Cars,S24_3969,Online Diecast Creations Co.,Nashua,Small,1689.03,2003-01
4,10101,25,100.00,2003-01-09,Shipped,Vintage Cars,S18_2325,"Blauer See Auto, Co.",Frankfurt,Medium,2500.00,2003-01